body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /* Permet de faire défiler le contenu si la page est plus grande que l'écran */
}

.home {
    position: relative;
    height: 100vh;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background : url('../assets/homeBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    filter: brightness(0.8);
    /* z-index: -1; */
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: relative;
    /* z-index: 1; */
}

.homeContainerText {
    margin: 25vh auto 0 auto;
}

.ilADitBonjour, .homeContainerDiv {
    font-size: 25px;
    font-weight: 200;
    margin-top: 5px;
}

.centerImage {
    width: 100%;
    display: flex;
    justify-content: center;
}
.goNext {
    width: 30px;
    margin-bottom: 25px;
    transition: width 0.3s ease;
    /* Définit la transition pour la propriété "width" avec une durée de 0.3s et une courbe d'accélération (ease). Vous pouvez ajuster la durée en fonction de la vitesse souhaitée de l'animation. */
}

.goNext:hover {
    width: 40px;
}



